@using Mega.Application.Services.Common.Queries.GetMenuItem;
@model List<MenuItemDto>
@{
    Layout = null;
}
        


@foreach (var item in Model)
{
    <li>
        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse"><i class="mdi mdi-chevron-down"></i>@item.Name</a>

        @if (item.Child.Count() > 0)
        {

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                @foreach (var itemChild in item.Child)
                {
                    <ul>

                        <li class="has-sub">


                            <a href="~/products/index?CatId=@itemChild.CatId" class="category-level-2"> @itemChild.Name</a>


                        </li>



                    </ul>
                }

            </div>

        }

    </li>
}